h1 {
    font-size: : 30px;
    font-family: arial, "Times New Roman";
    font-style: normal;
    font-weight: 100;
    margin: 0px;
    color: black;
    background-color: blue;
    text-align: center;

a {
  text-decoration: none;

}

p {
  


}
